body {
    background-color: #111214;
}

a {
    text-decoration: none;
}

#config {
    color: #ffffff;
}

#errorMessage {
    color: #262626;
    background-color: #ffebeb;
    border: 2px solid #990000;
}

#infoMessage {
    color: #262626;
    background-color: #99ccff;
    border: 2px solid #0066cc;
}

.panel {
    background-color: #2B2D31;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 8px;
    overflow: hidden;
    width: 132px;
    height: 20px;
    border-radius: 16px;
    float: left;
    margin: 4px;
}

.panelIcon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

.panelText {
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: blur(2px);
}